@inject HttpClient HttpClient

<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>What is @Question.Symbol</h2>
            What is @Question.Symbol
        </div>
        <form class="dialog-body">
            <div>
                <label>Answer:</label>
                <!--input @bind="Response" @onkeydown="OnKeyDown"/-->
                <!--InputText @bind-value="response" @onkeydown="@Enter" /-->
                <!--input type="text" @bind="Question.Response" @bind:event="oninput" @onkeydown="@Enter" /-->
                <input type="text" @bind="Question.Response"  @onkeydown="@Enter"  />
                @Game.Reinforcment()
            </div>
        </form>

        <div class="dialog-buttons">
            <button class="btn btn-secondary mr-auto" @onclick="OnCancel">Cancel</button>
            <span class="mr-center">
                Price: <span class="price">used to be a total price</span>
            </span>
            <button class="btn btn-success ml-auto" @onclick="OnConfirm">Order ></button>
        </div>
    </div>
</div>

@code {
    //private string response = "";

    [Parameter] public GameManager Game { get; set; }
    [Parameter] public ElementQuestion Question { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public EventCallback OnKeyDown { get; set; }

    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            //Question.Response = response;
            OnKeyDown.InvokeAsync();
            e.Code = "";

           
        }
    }
}